<app-nav></app-nav>

  <section class="v-header container justify-content-center">
    <div class="fullscreen-video-wrap">
      <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
        <source src="/assets/videos/pandavent-promo-v2.mov" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
      <img class="logo-width" src="/assets/images/logo-white.png">
      <!-- <h1>hello</h1>
      <p> asdadsd</p> -->
    </div>
  </section>

  <section class="section section-a" id="what-we-offer">
    <div class="container">
      What we offer section
    </div>
  </section>

  <section class="section section-b" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          "OMG like what can I say? Pandavent is like so totally awesome and like its the best and like Kollen is soooo hot!"
          <br>
          <p class="text-right">-Makayla, AXO</p>
        </div>
        <div class="col-lg-4">
          "Jobax is a nice guy. Kollen is THE ABSOLUTE GREATEST. And what a hunk! This guy is crazy sexy yall."
          <br>
          <p class="text-right">-Steph, KAO</p>
        </div>
        <div class="col-lg-4">
          "So Hawt."
          <br>
          <p class="text-right">-Amber, DZ</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-c" id="instagram">
    <div class="container">
    Instagram section
    </div>
  </section>

  <section class="section section-d" id="contact">
    <div class="container">
    Contact section
    </div>
  </section>