<app-nav></app-nav>
<section class="section section-cover">
    <div class="bg-cover">
        <video width="100%" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
            <source src="/assets/videos/pandavent-promo-v2.mov" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <!-- <div class="bg-cover">
      <div class="d-flex justify-content-center cover-text">
        #aDillworthWaitingFor
      </div>
    </div>
    <div class="bg-cover2">
      <div class="d-flex justify-content-center cover-text">
        #aDillworthWaitingFor
      </div>
    </div> -->
  </section>
  <section class="section"> 

  </section>
