<app-nav></app-nav>

  <section class="v-header container justify-content-center">
    <div class="fullscreen-video-wrap d-none d-sm-inline">
      <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
        <source src="/assets/videos/pandavent-promo-v3.mov" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="fullscreen-video-wrap d-sm-none">
      <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
        <source src="/assets/videos/pandavent-promo-mobile-v2.mov" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
      <img class="logo-width" src="/assets/images/logo-white.png">
      <!-- <h1>hello</h1>
      <p> asdadsd</p> -->
    </div>
  </section>
  
  <section class="section section-a mt-5" id="what-we-offer">
    <div class="container">
      <div class="row d-none d-sm-flex justify-content-center">
        <div class="col-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Security.png">
        </div>
        <div class="col-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Transportation.png">
        </div>
        <div class="col-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Venue.png">
        </div>
        <div class="col-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_DJ.png">
        </div>
        <div class="col-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Photographer.png">
        </div>
      </div>

      <div class="row d-sm-none">
          <div class="col-12 text-center">
              <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Venue.png">
          </div>
          <div class="col-6 text-center">
              <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Transportation.png">
          </div>
        <div class="col-6 text-center">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Security.png">
        </div>
        <div class="col-6 text-center mt-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_DJ.png">
        </div>
        <div class="col-6 text-center mt-2">
          <img class="icon-size" src="/assets/images/icons/Pandavent_Web_Photographer.png">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-b" id="testimonials" style="margin-top: 125px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center text-lg-left contact-text">
          "OMG like what can I say? Pandavent is like so totally awesome and like its the best and like Kollen is soooo hot!"
          <!-- <br> -->
          <div class="mt-2 mt-lg-0 text-center text-lg-right contact-text">-Makayla, AXO</div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0 text-center text-lg-left contact-text">
          "Jobax is a nice guy. Kollen is THE ABSOLUTE GREATEST. And what a hunk! This guy is crazy sexy yall."
          <div class="mt-2 mt-lg-0 text-center text-lg-right contact-text">-Steph, KAO</div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0 text-center text-lg-left contact-text">
          "So Hawt."
          <div class="mt-2 mt-lg-0 text-center text-lg-right">-Amber, DZ</div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-c mt-5" id="instagram">
    <div class="container">
      <div class="row">
        <div class="col-3">
            <img class="" src="/assets/images/venue_3.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_4.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_7.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_5.jpg" style="width: 255px;">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
            <img class="" src="/assets/images/venue_6.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_1.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_2.jpg" style="width: 255px;">
        </div>
        <div class="col-3">
            <img class="" src="/assets/images/venue_8.jpg" style="width: 255px;">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-d mt-5 mb-5" id="contact">
    <div class="container" style="border-radius: .35rem;">
        <h2 class="contact-text2 text-center">Contact</h2>
      <form class="pt-4 pb-4 theBox" style="border-radius: .35rem;">
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputFirstName" class="font-weight-bold contact-text2">First Name</label>
          <input type="text" class="form-control" id="inputFirstName">
        </div>
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputLastName" class="font-weight-bold contact-text2">Last Name</label>
          <input type="text" class="form-control" id="inputLastName">
        </div>
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputOrganization" class="font-weight-bold contact-text2">Organization</label>
          <input type="text" class="form-control" id="inputOrganization">
        </div>
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputSchool" class="font-weight-bold contact-text2">School</label>
          <input type="text" class="form-control" id="inputSchool">
        </div>
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputEmail" class="font-weight-bold contact-text2">Email</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group offset-1 col-10 offset-md-3 col-md-6 pl-0 pr-0">
          <label for="inputNumber" class="font-weight-bold contact-text2">Number</label>
          <input type="text" class="form-control" id="inputNumber">
        </div>
        <button type="submit" class="btn contact-btn offset-1 col-10 offset-md-3 col-md-6 mt-2">Send</button>
      </form>
    </div>
  </section>